<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/add" method="post">
        <label for="title">Blog-Title:</label><br>
        <input type="text" id="title" name="title" value="My blog post!"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="Jane Doe"><br><br>
        <textarea id="text" name="text" rows="4" cols="50">Your blog post goes here!</textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>