<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to My Flask Blog!</h1>

    {% for id in posts %}
    <div class="post" data-id="{{ id }}">
        <h2>{{ posts[id]["title"] }}</h2>
        <form action="/delete/{{ id }}" , method="get">
            <input type="submit" value="Delete Post">
        </form>
        <form action="/update/{{ id }}" , method="get">
            <input type="submit" value="Update Post">
        </form>
        <p><em>Written by {{ posts[id]["author"] }}</em></p>
        <p>{{ posts[id]["text"] }}</p>
    </div>
    {% endfor %}

</body>

</html>